* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gascogne Serial", serif;
  color: #fff;
}

@font-face {
  font-family: 'Gascogne';
  src: url('assets/fonts/GascogneSerial-Bold.woff2') format('woff2'),
    url('assets/fonts/GascogneSerial-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: #000;
  overflow-x: hidden;
}


header {
  padding-top: 65px;
  padding-bottom: 25px;
}

.logo img{
  height: 61px;
}

.container {
  max-width: 1221px;
  margin: auto;
  position: relative;
  z-index: 9;
}

.full_height {
  min-height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/media/Seeker-BG.gif') center center / cover no-repeat;
  z-index: -2;
}

.video_overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}


.banner_sec .cols_2 {
  display: flex;
  justify-content: space-between;
  gap: 78px;
  align-items: center;
}

.main-text {
  width: 54.4%;
}

.contact-box {
  width: 45.6%;
}

.main-text p {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1.2px;

}

.contact-box {
  padding: 25px 63px 71px;
  border-radius: 10px;
  border: 1px solid #363636;
  text-align: center;
  background: #000;
  box-shadow: 0px 10px 200px 1px #50505080;
}

.contact-box h2 {
  font-size: 40px;
  line-height: 70px;
  letter-spacing: .4px;
  text-align: center;
  margin-bottom: 21px;

}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 14px 18px 13px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -.32px;
  color: #304631 !important;
  border-radius: 10px;
  border: 2px solid #fff;
  margin-bottom: 20px;
  font-weight: 700;
}

.contact-box textarea {
  min-height: 100px;
  resize: none;
}

.contact-box input:focus,
.contact-box textarea:focus,
.contact-box input:hover,
.contact-box textarea:hover {
  outline: none;
  border: 2px solid #1ca14e;
}

.contact-box input::placeholder,
.contact-box textarea::placeholder {
  opacity: .5 !important;
  color: #304631 !important;
}

.contact-box button {
  width: 100%;
  padding: 16px;
  font-size: 24px;
  line-height: 28px;
  border: 1px solid #20a25a;
  color: #fff;
  background: #20A25A;
  border-radius: 6px;
  font-weight: 700;
  box-shadow: 0px 5px 10px 0px #0D7039;
  transition: 0.3s;
}

.contact-box button:hover {
  background: #0D7039;
  border-color: #0D7039;
}

footer {
  padding: 138px 70px 69px 60px;
}

footer img {
  height: 55px;
}

footer .cols_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1750px) {

  .container {

    padding: 0 100px;
  }

  .logo img{
    height: 50px;
  }

  .main-text p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .5px;
  }

  .contact-box {
    padding: 25px 35px 40px;
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    padding: 0 80px;
  }

  footer {
    padding: 80px 80px 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    padding: 0 60px;
  }

  .banner_sec .cols_2 {
    gap: 60px;
  }

  .main-text p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .5px;
  }

  .contact-box h2 {
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 15px;
  }

  footer {
    padding: 70px 60px 40px;
  }
}

@media only screen and (max-width: 990px) {
  .container {
    padding: 0 45px;
  }

  footer {
    padding: 70px 45px 20px;
  }

  .full_height {
    min-height: 1px;
  }

  .contact-box button {
    padding: 10px;
    font-size: 20px;
    line-height: 28px;
  }

  .banner_sec .cols_2 {
    gap: 40px;
    flex-direction: column;
  }

  .main-text,
  .contact-box {
    width: 100%;
  }

  .main-text p {
    font-size: 18px;
    line-height: 26px;
  }

  header {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .logo img{
    height: 45px;
  }
}
@media only screen and (max-width: 767px){
  .video_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/media/mobile-seeker.gif') center center / cover no-repeat;
  z-index: -2;
}
}
@media only screen and (max-width: 600px) {
  .full_height {
    min-height: 1px;
  }

  footer .cols_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }

  footer img {
    height: 40px;
  }

  .footer-left {
    padding-left: 24px;
  }

  footer {
    padding: 50px 25px 15px;
  }

  .container {
    padding: 0 22px;
  }

  .main-text p {
    font-size: 15px;
    line-height: 21px;
  }

  .contact-box {
    padding: 30px 18px 30px;
  }

  .contact-box input,
  .contact-box textarea {
    padding: 10px 13px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-weight: 700;
  }

  .contact-box button {
    padding: 10px;
    font-size: 18px;
    line-height: 22px;
  }

  .contact-box h2 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 22px;
  }

  .logo img{
    height: 32px;
  }

  header {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}